<div class="content">
  <div class="container">
    <app-navbar></app-navbar>

    <div class="jumbotron bg-transparent text-light mt-5 px-0">
      <h1 class="display-5 mb-0">Experience the</h1>
      <h1 class="display-3">Best Trip Ever</h1>
      <p class="lead">We are commited to offering travel services of the highest quality, combining our energy and enthusiasm with years of experience.</p>
      <a class="btn btn-transparent btn-lg btn-outline-light" href="#" role="button">Contact Us</a>
    </div>
  </div>
</div>
