<div class="container-fluid my-5">
  <div class="row">
    <div class="col-8">
      <div class="about__text">
        <div class="section-title">
          <h2>Winner from last user travel story raffle</h2>
        </div>
        <div class="about__para__text">
          <p>Metasurfaces are generally designed by placing scatterers in periodic or pseudo-periodic
            grids. We propose and discuss design rules for functional metasurfaces with randomly
            placed.</p>
          <p>Anisotropic elements that randomly sample. Quisque sit amet nisl ante. Fusce lacinia non
            tellus id gravida. Cras neque dolor, volutpat et hendrerit et.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="about__pic">
        <div id="picInner" class="about__pic__inner">
          <img src="/assets/img/cappadocia.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
